* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}

.loading {
  position: fixed;
  width: 80%;
  top: 50%;
  left: 10%;
}
.loading-bar {
  width: 100%;
  height: 5px;
  background-color: #ccc;
}
.loading-bar-progress {
  height: 100%;
  width: 0px;
  background-color: black;
  transition: width 0.1s ease;
}
.loading-percentage {
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
